:root {
    --primary-red: #ff3131;
}

.contact-section {
    padding: 100px 40px 80px;

}

.contact-row {
    align-items: center;
    display: flex;
}

.contact-call {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: black;
    font-weight: 600;
    background-color: #F5F6F7;
}

.conatct-phone {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
    background: linear-gradient(to right, #000000, #ff3131);

    display: flex;
    justify-content: center;
    align-items: center;
}

.conatct-phone img {
    width: 80px;
}




.button {
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #000000, #ff3131);
    color: #fff;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: grid;
    place-content: center;
    transition:
        background 300ms,
        transform 200ms;
    font-weight: 600;
}

.button__text {
    position: absolute;
    inset: 0;
    animation: text-rotation 8s linear infinite;

    >span {
        position: absolute;
        transform: rotate(calc(19deg * var(--index)));
        inset: 7px;
        color: rgb(231, 221, 221);
        font-weight: 400;
    }
}

.button__circle {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    background: #fff;
    color: var(--primary-red);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button__icon--copy {
    position: absolute;
    transform: translate(-150%, 150%);
}

.button:hover {
    background: #000;
    transform: scale(1.05);
}

.button:hover .button__icon {
    color: #000;
}

.button:hover .button__icon:first-child {
    transition: transform 0.3s ease-in-out;
    transform: translate(150%, -150%);
}

.button:hover .button__icon--copy {
    transition: transform 0.3s ease-in-out 0.1s;
    transform: translate(0);
}

@keyframes text-rotation {
    to {
        rotate: 360deg;
    }
}




.contact-socials {
    background-color: #F5F6F7;
    padding: 20px 10px;
    border-radius: 10px;
}

.contact-socials-txt {
    font-size: 20px;
    font-weight: 600;
    color: black;
    margin-bottom: 10px;
}


.contact-socials-icons-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.contact-socials-icons {
    width: 50px;
    height: 50px;

    background-color: rgba(0, 0, 0);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.contact-socials-icons:hover {
    background: linear-gradient(to right, #000000, #ff3131);
}

.contact-socials-icons img {
    width: 30px;
}







/* Rigth Side */
/* contact form */


@media (max-width:991px) {
    .form-container {
        width: 100%;
    }
}

.form-wrapper {
    width: 100%;
    margin: auto;
    background-color: #F5F6F7;
    padding: 30px 35px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 700;
    color: rgb(198, 2, 2);
}

label {
    font-weight: 500;
    color: #555;
    margin-bottom: 5px;
}

input,
select {
    border-radius: 8px !important;
    padding: 10px !important;
}

/* ▼ Custom Down Arrow for all Select Elements ▼ */
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='20' width='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'><polygon points='0,0 20,0 10,10'/></svg>");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 14px;
    padding-right: 35px !important;
    cursor: pointer;
}

.terms-text {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

.contact-section p {
    margin-bottom: 0px;
}


.marketing-box label {
    font-size: 14px;
}


















/* Map Section Here */

.map-section {
    padding: 60px;
    padding-top: 0px;
}

.map-container {
    width: 100%;
    height: 400px;
    padding: 0px;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}