:root {
    --primary-red: #ff3131;
}






.breadcrumb-section {
    background-image: url('../images/about/header-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 4rem 1rem;
    padding-top: 8rem;
    position: relative;
    text-align: center;
    transition: transform 0.3s ease-out;
    z-index: 0;
}

.breadcrumb-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #00000087, #ff313167);
    z-index: 1;
}

.breadcrumb-overlay {
    position: relative;
    z-index: 2;
    padding: 2rem;
    max-width: 900px;
    margin: 0 auto;
}

.breadcrumb-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: white;
    text-transform: uppercase;
}

.breadcrumb-nav {
    display: flex;
    justify-content: center;
}

.breadcrumb-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style: none;
    padding: 1rem 2rem;
    border-radius: 2em;
    margin: 0;
    background: linear-gradient(to right, #000000, #ff3131);
    font-size: 1rem;
}

.breadcrumb-list li {
    color: white;
}

.breadcrumb-list li a {
    color: white;
}